.profile-image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;

  .settings-upload-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  img {
    object-fit: cover;
  }

  svg {
    margin: 8px;
    padding: 8px;
    border-radius: 50%;

    &:hover {
      background-color: #1873de;
      cursor: pointer;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  /* .profile-image {
    flex-direction: column;
  } */
}

.settings-upload-btn .hide-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.settings-upload-btn {
  position: relative;
  display: inline-block;
  border-radius: 8px;

  color: #fff;
  background: #1873de;
  border: 1px solid #1873de;
  &:hover {
    background: #0056b3;
    color: white;
    border: 1px solid #0056b3;
  }
}
.settings-upload-btn .file-upload {
  box-shadow: inset 0 0 0 0 #fff;
  padding: 12px 35px;
  font-size: 16px;
  margin: 0 20px 0 0;
  cursor: pointer;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  font-weight: 700;
}
.profile-photo span {
  font-size: 16px;
  color: #666666;
}

.update-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.form-group {
  textarea {
    border-radius: 4px !important;
    padding: 10px;
  }
}
