.payments {
  font-size: 25px;
  font-weight: 600;
}

.my_faq_section {
  padding: 70px 0 45px;
  background: #f9fafc;
  a {
    text-decoration: none;
  }
}
.my_faq_section h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 50px 0 50px;
  color: #0d233e;
}
.my_faq_section .my_faq_card {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
    0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
}
.my_faq_section h4 {
  font-size: 20px;
  color: #0d233e;
  margin: 0;
}
.my_faq_section .my_faq_card .faq_card_collapse p {
  font-size: 15px;
  margin: 20px 0 0;
  border-top: 1px solid #ccc;
  padding: 20px 0 0;
  line-height: 27px;
}
.my_faq_title > a:not(.collapsed):after {
  content: "^";
  font-size: 20px;
  font-weight: 600;
}
.my_faq_title > a:hover {
  color: #1873de;
}
.my_faq_title > a {
  display: block;
  position: relative;
  padding-right: 60px;
  color: #0d233e;
}
.my_faq_title > a:after {
  /* font-family: "Fontawesome"; */
  content: "-";
  font-size: 25px;
  font-weight: 600;

  position: absolute;
  top: 4px;
  right: 0;
  color: #1873de;
  font-size: 16px;
}

.terms_and_cond {
  padding: 70px 0;
}
.terms_and_cond .page_title h5 {
  color: #0d233e;
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 30px;
}
.terms_and_cond p {
  color: #666;
  margin-bottom: 30px;
  line-height: 27px;
}
.terms_and_cond p:last-child {
  margin-bottom: 0;
}
